#flashed_message{
    padding: 10px;
}

#map{

}

#bird_name {
    display: block;
}

.box{
    height: 500px;
    border-radius: 20px;
}

.floating_button{
    border: 1px black solid; 
    padding:5px; 
    margin: 5px;
    border-radius: 20px; 
    background-color: cadetblue; 
    color: aliceblue;
}

