#flashed_message{
    padding: 10px;
}

.box{
    height: 500px;
    border-radius: 20px;
}

.floating_button{
    border: 1px black solid; 
    padding:5px; 
    border-radius: 20px; 
    background-color: cadetblue; 
    color: aliceblue;
}