{% extends "postlogin.html" %}
{% block title %}Bird Go Account{% endblock %}
{% block page %}Account{% endblock %}

{{ super() }}

{% block content %}
    <div class="row blue-grey darken-4 box" style="padding: 10px; margin: 10px">
        <div class="row">
            <h1 style="color:white">{{ session['username'] }} account info:</h1>
        </div>
        <div class="row">
            <p style="color:white">Total spottings: {{ spottings|length }}</p>
        </div>
        <div>
            <ul class="collection with-header">
                <li class="collection-header">
                    Spottings
                </li>
                {% if spottings|length > 0 %}
                    {% for spotting in spottings %}
                        <li class="collection-item">
                            {{ spotting.bird_name }} at ({{ spotting.lat }}, {{ spotting.long }}).  Details: {{ spotting.details }}
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="collection-item">
                        No Spottings
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="row">
            <a href="/logout" class="floating_button">Log out</a>
        </div>
    </div>
{% endblock %}
