{% extends "postlogin.html" %}
{% block title %}Bird Go Account{% endblock %}
{% block page %}Account{% endblock %}

{{ super() }}

{% block content %}
    <div class="row blue-grey darken-4 box" style="padding: 10px; margin: 10px; height:fit-content;">
        <div class="row">
            <h1 style="color:white">{{ session['username'] }} account info:</h1>
        </div>
        <div class="row">
            <p style="color:white">Total spottings: {{ spottings|length }}</p>
        </div>

        <div style="border: 1px white solid; padding: 5px;">
            <table class="collection with-header" style="margin:0px;">

                <tr class="collection-header">
                    <th>Bird</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Details</th>
                    <th>Time</th>
                </tr>

                {% if spottings|length > 0 %}
                    {% for spotting in spottings %}
                        <tr class="collection-item">
                            <td>{{ spotting.bird_name }}</td>
                            <td>{{ spotting.lat }}</td>
                            <td>{{ spotting.long }}</td>
                            <td>{{ spotting.details }}</td>
                            <td>{{ spotting.time }}</td>
                        </tr>
                    {% endfor %}
                    <div class="map">
                                {{ googlemap(
                                            "my-spottings-map",
                                            lat=user_coords[0],
                                            lng=user_coords[1],
                                            markers=markers,
                                            center_on_user_location=True,
                                            streetview_control=False,
                                            rotate_control=False,
                                            style="height:400px;width:90%;margin-left:auto;margin-right:auto;padding:5px;padding-top:25px;",
                                            scale_control=False) }}
                    </div>
                {% else %}
                <tr class="collection-item">
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                </tr>
                {% endif %}
                </table>
        </div>
    </div>
{% endblock %}
