{% extends "postlogin.html" %}
{% block title %}Bird Go Map{% endblock %}
{% block page %}Map{% endblock %}

{{ super() }}

{% block content %}
    <div  id="map" style="width:100%">
        <!--
        <div id="sidebar" class="col s2 blue-grey darken-4">
            <img src="logo.jpg" alt="Logo" style="border-radius: 50%;
                width:100px;
                height:100px;">
            <div class="divider"></div>
            <a href="#" class="floating_button">Spottings</a>
        </div>
        -->
        {{myMap.html}}
    </div>
{% endblock %}
