{% extends "postlogin.html" %}
{% block title %}Bird Go Map{% endblock %}
{% block page %}Map{% endblock %}

{{ super() }}

{% block content %}
 {% if markers|length > 0 %}
    <div  id="map" style="width:100%">
        {{ googlemap(
        "all-spottings-map",
        lat=user_coords[0],
        lng=user_coords[1],
        markers=markers,
        center_on_user_location=True,
        streetview_control=False,
        rotate_control=False,
        style="height:80vh; margin-top:20px; padding:5px; padding-top:25px; border-radius:10px; border:1px white solid;",
        scale_control=False) }}
    </div>
 {% else %}
    <div  id="map" style="width:100%">
        {{ googlemap(
        "all-spottings-map",
        lat=user_coords[0],
        lng=user_coords[1],
        center_on_user_location=True,
        streetview_control=False,
        rotate_control=False,
        style="height:80vh; margin-top:20px; padding:5px; padding-top:25px; border-radius:10px; border:1px white solid;",
        scale_control=False) }}
    </div>
 {% endif %}
{% endblock %}