{% extends "postlogin.html" %}
{% block title %}Bird Go Post{% endblock %}
{% block page %}Post Spotting{% endblock %}

{{ super() }}

{% block javascript %}
    <script>

    </script>

{% endblock %}

{% block content %}
    <div  id="map" style="width:100%">
        {{ googlemap(
        "post-spotting-map",
        lat=1,
        lng=1,
        center_on_user_location=True,
        streetview_control=False,
        rotate_control=False,
        scale_control=False) }}
    </div>
{% endblock %}