<!doctype html>
<html>
  <head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{% block title %}{% endblock %}</title>

  </head>
  <body class="#01579b light-blue darken-4">
  <script>
      var latitude = 0;
      var longitude = 0;

      function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(setPosition);
        } else {
            alert("Geoposition failed.");
        }
      }
      function setPosition(position) {
          latitude = position.coords.latitude;
          longitude = position.coords.longitude;
          const data = {lat: latitude, long: longitude};

          fetch('/user-location', {
              method: "POST",
              body: JSON.stringify(data),
              headers: {"Content-type": "application/json; charset=UTF-8"}
          })
          .then(response => response.json())
          .then(json => console.log(json))
          .catch(err => console.log("Request Failed", err));
      }

      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems);
      });

      window.onload = getLocation();

  </script>
    <nav class="blue-grey darken-4">
      <div class="nav-wrapper">
        <img src={{url_for("static",filename="logo.png")}} alt="Logo" style="width:50px; height:50px; margin:6px; transform: scale(0.7);">
        <a href="#!" class="brand-logo">Bird Go</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li id="spot"><a href="/spottings">My Spottings</a></li>
                <li id="map"><a href="/map">Map</a></li>
                <li id="post"><a href="/post-spotting">Post Spotting</a></li>
                <li id="logout"><a href="/logout">Signout</a></li>
                <li><a href="https://www.instagram.com/birdgoofficial/" class="fa fa-instagram right"></a></li>
            </ul>
      </div>

    </nav>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="/spottings">My Spottings</a></li>
      <li><a href="/map">Map</a></li>
      <li><a href="/post-spotting">Post Spotting</a></li>
      <li><a href="/logout">Signout</a></li>
      <li><a href="https://www.instagram.com/birdgoofficial/">Bird Go Instagram</a></li>
    </ul>
    
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <nav id="flashed_message" class="white black-text">
      <div class="nav-wrapper">
          <ul class="flashes">
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
      </div>
    </nav>
    {% endif %}
    {% endwith %}

    <div class="container" id="content" style="width: 100%">{% block content %}{% endblock %}</div>

    <script>
      let tab = window.location.href.split('/').pop()
      console.log(tab);
      switch(tab) {
          case "spottings":
              document.getElementById("spot").className = "active";
              break;
          case "map":
              document.getElementById("map").className = "active";
              break;
          case "post-spotting":
              document.getElementById("post").className = "active";
              break;
          default:
              break;
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
