{% extends "postlogin.html" %}
{% block title %}Bird Go: Post{% endblock %}
{% block page %}Post Spotting{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">
        <div class="col s6 offset-s3 blue-grey darken-4 box" style="height: fit-content;margin-top:8px;">
            <div class="row">
                <form class="col s12 m8 offset-m2" method="POST" action="/post-spotting">
                    {{ form.csrf_token }}

                    <div class="input-field col s12 m8 offset-m2">
                      {{ form.bird_name(size=100, class="validate") }}
                      {{ form.bird_name.label }}
                    </div>

                    <div class="input-field col s12 m8 offset-m2">
                      {{ form.details(size=500, class="validate") }}
                      {{ form.details.label }}
                    </div>

                    <div class="input-field col s12 m8 offset-m2">
                      {{ form.submit }}
                    </div>
                </form>
            </div>

            <div><h3 style="padding-left:30px">Your Location:</h3></div>
            <div  id="map" style="width:auto; padding-top:5px; padding-bottom:20px;">
                {{ googlemap(
                "post-spotting-map",
                lat=user_coords[0],
                lng=user_coords[1],
                markers = [(user_coords[0], user_coords[1])],
                center_on_user_location=True,
                streetview_control=False,
                rotate_control=False,
                style="height:400px;width:90%;margin-left:auto;margin-right:auto;padding:5px;padding-top:25px;",
                scale_control=False) }}
            </div>

        </div>
    </div>
{% endblock %}