{% extends "prelogin.html" %}
{% block title %}Login{% endblock %}
{% block page %}Login{% endblock %}

{{ super() }}

{% block content %}
    <div class="row">

            <div class="col s6 offset-s3" style="text-align: center;">
                <p>Bird Go is a very interesting app and this would be where all the info would be for the about section above signup. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae feugiat dui, eu pulvinar ipsum. Nam nec ex tempor eros congue finibus sit amet in nisl. Donec imperdiet lacus massa, a viverra felis sodales nec. Sed quam orci, vehicula at quam et, rutrum fringilla elit. Ut eleifend libero ut elementum interdum. Fusce et elit egestas enim placerat tempor nec quis turpis. Fusce eu mauris id dolor pulvinar cursus et sit amet lorem. Maecenas fermentum condimentum velit in pharetra. Sed quis placerat lorem.
Curabitur et congue erat. In a diam sit amet ligula scelerisque faucibus. Nam lectus odio, tristique ut metus eget, rhoncus accumsan turpis. Vivamus pharetra eros ac nunc gravida ultrices sit amet sed mauris. Quisque non malesuada odio. Cras finibus ligula sit amet convallis tempus. Aliquam erat volutpat.
                </p>
            </div>

      
        </div>
        <div class="row">

            <div class="col s6 offset-s3 blue-grey darken-4" style="outline: black 1px solid; height: 500px;border-radius: 20px;">
                <div class="row">
                    <form id="myForm" class="col s12 m8 offset-m2" method="POST" action="/signup">
                        {{ form.csrf_token }}
            
                        <div class="input-field col s12 m8 offset-m2"> 
                          {{ form.username(size=20, class="validate") }}
                          {{ form.username.label }}
                        </div>
            
                        <div class="input-field col s12 m8 offset-m2">
                          {{ form.email(size=50, class="validate") }}
                          {{ form.email.label }}
                        </div>
            
                        <div class="input-field col s12 m8 offset-m2">
                          {{ form.password(size=20, class="validate") }}
                          {{ form.password.label }}
                        </div>
            
                        <div class="input-field col s12 m8 offset-m2">
                          {{ form.confirm(size=20, class="validate") }}
                          {{ form.confirm.label }}
                        </div>
            
                        <div class="input-field col s12 m8 offset-m2">
                          {{form.submit}}
                        </div> 
                    </form>
                </div>
                <div class="row" style="text-align: center;">
                    <p style="margin:0px;">Already have an account?</p>
                    <a style="margin:0px;" href="/login">Login</a>
                </div>
            </div>

        </div>
{% endblock %}
